name: TeleJelly-debug

networks:
    jellyfin-network:
        driver: bridge

volumes:
    # jellyfin-config:
    # jellyfin-cache:
    jellyfin-media:

services:
    traefik:
        image: traefik:v3.0
        command:
            - --api.dashboard=true
            - --providers.docker=true
            - --providers.docker.exposedbydefault=false
            - --entrypoints.web.address=:80
            - --entrypoints.websecure.address=:443
            - --certificatesresolvers.myresolver.acme.tlschallenge=true
            - --certificatesresolvers.myresolver.acme.email=${ACME_EMAIL}
            - --certificatesresolvers.myresolver.acme.storage=/letsencrypt/acme.json
        ports:
            - "8800:80"
            - "8443:443"
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock:ro
            - ./letsencrypt:/letsencrypt
        networks:
            - jellyfin-network

    jellyfin:
        build:
            context: .
            dockerfile: Dockerfile
        volumes:
            # Comment in Config below if you want to keep it persistent.
            #- jellyfin-config:/config
            #- jellyfin-cache:/cache
            - jellyfin-media:/media
        networks:
            - jellyfin-network
        labels:
            - traefik.enable=true
            - traefik.http.routers.jellyfin.rule=Host(`${JELLYFIN_HOST}`)
            - traefik.http.routers.jellyfin.entrypoints=websecure
            - traefik.http.routers.jellyfin.tls=true
            - traefik.http.services.jellyfin.loadbalancer.server.port=8096
        environment:
            - TZ=UTC
        depends_on:
            - traefik
