
.emby-textarea {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* Prevent padding from causing width overflow */
    box-sizing: border-box;
    color: inherit;
    display: block;
    /* General select styles: change as needed */
    font-family: inherit;
    /* Remove select styling */
    /* Font size must the 16px or larger to prevent iOS page zoom on focus */
    font-size: inherit;
    font-weight: inherit;
    margin: 0;
    margin-bottom: 0 !important;
    outline: none !important;
    padding: 0.35em 0.25em;
    width: 100%;
}

.emby-textarea::-moz-focus-inner {
    border: 0;
}

.textareaLabel {
    display: inline-block;
    margin-bottom: 0.25em;
    transition: all 0.2s ease-out;
}

.emby-textarea + .fieldDescription {
    margin-top: 0.25em;
}

.sso-role-mapping-container,
.sso-bordered-list {
    /*
  border-color: #101010;
  border-color: #383838;
  */
    border-color: rgba(255, 255, 255, 0.135);
    border-style: solid;
    margin-top: 0.25em;
    padding-top: 0.5em;
}

.sso-role-mapping-container + .sso-role-mapping-container,
.sso-bordered-list + .sso-bordered-list {
    margin-top: 1em;
}

.sso-role-mapping-container .sso-folder-list {
    padding-bottom: 0.25em;
    padding-left: 1em;
}

.sso-role-mapping-input-label {
    padding-left: 0.5em;
}

code {
    border: 1px dotted #777;
    display: block;
    padding: 1rem;
    max-width: 54em;
}

.sectionTitleContainer > * {
    margin-left: 1.25em !important;
}

/** Fancy Password Field **/

.inputContainer {
    position: relative;
    display: flex;
    flex-direction: column;
}

.sso-text {
    padding-right: 40px; /* Make room for the eye icon */
}

.toggle-eye {
    position: absolute;
    right: 10px;
    /*top: 0;*/
    bottom: 0;
    height: 20px;
    width: 20px;
    margin: auto;
    cursor: pointer;
    color: #7a7a7a;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
}

/* Simple eye icon using CSS */
.eye-icon {
    border-radius: 50%;
    border: 1px solid currentColor;
    position: relative;
    width: 20px;
    height: 20px;
}

.eye-icon::before {
    content: '';
    position: absolute;
    background-color: currentColor;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    left: 5px;
    top: 5px;
}

/* Slash to represent "hide" */
.eye-slash {
    display: none;
    position: absolute;
    width: 24px;
    height: 2px;
    background-color: currentColor;
    transform: rotate(45deg);
}

.toggle-eye:hover {
    color: #000; /* Eye icon hover color */
}

/* Tooltip */
.toggle-eye:hover::after {
    content: "Show / Hide Token";
    visibility: visible;
    position: absolute;
    width: 120px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    bottom: 110%;
    left: 50%;
    transform: translateX(-90%);
    font-size: 12px;
    z-index: 999999;
}
